---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const tags = new Set();

  posts.forEach((post) => {
    if (post.data.tags) {
      post.data.tags.forEach((tag) => tags.add(tag));
    }
  });
  
  return Array.from(tags).map((tag) => ({
    params: { tag },
    props: { tag, posts: posts.filter((post) => post.data.tags?.includes(tag)) },
  }));
}

const { tag, posts } = Astro.props;
---

<Layout title={`Тег: ${tag}`}>
  <div class="p-4 max-w-4xl mx-auto">
    <h1 class="font-bold my-4 text-2xl"># Тег: {tag}</h1>
    <ul class="list-disc">
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`} class="block">
            {post.data.title}
            <span class="opacity-50 text-sm">{post.data.pubDate.toLocaleDateString()}</span>
          </a>
        </li>
      ))}
    </div>
  </div>
</Layout>